{{ define "main" }}
<article class="post-single">
    <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
    <div class="post-content">
        <p>{{ .Site.Params.page404.Message | markdownify }}
        {{ if .Site.Taxonomies.tags }}
        {{ .Site.Params.page404.TagsMessage | markdownify | emojify }}</p>
        <h2>Tags</h2>
        <div>
            <ul>
                {{ range .Site.Taxonomies.tags }}
                    <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> (<span>{{ .Count }}</span>)</li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
